.container {
    margin-bottom: 100px;
}
.header-section {
    background-color: #F0FFF0;
}
img {
    width: 100%;
}
a.navbar-brand {
    width: 700px;
}
.logo {
    width: 40%;
    padding: 15px 0px;
}
.green-button {
    background-color: #21B573;
    padding: 5px 20px;
    border: none;
    border-radius: 20px;
}





FB6F3F